[user]
	email = austin@austinpray.com
	name = Austin Pray

[core]
	excludesfile = ~/dotfiles/.gitignore_global
	editor = vim
	pager = delta

[rerere]
	enabled = true
[rebase]
	autosquash = true
[pull]
	ff = only

[push]
	default = simple

[interactive]
	diffFilter = delta --color-only

[color]
	ui = true
